*, *:after, *:before {
	box-sizing: border-box;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

html, body {
	height: 100%;
}

body {
	font-family: $main-font;
	font-size: 100% * ($main-font-size / 16px);
	line-height: $main-line-height;
	background: $bg-color;
	color: $main-color;
}

a {
  color: $link-color;
  text-decoration: none;
  &:hover, &:focus {
  	color: $link-hover;
  }
  &:visited {
  	color: $link-visited;
  }
  &:active, &[aria-pressed] {
    color: $link-visited;
  }
}
