header {
  width: 100%;
  padding-left: 1%;
  height: 40px;
  line-height: 40px;
  border-bottom: 2px solid #00f;
}

main {
	width: 100%;
	margin-top: 20px;
}

.filters {
  float: left;
  width: 14%;
  margin-left: 1%;
}
.content {
	float: left;
  width: 60%;
}
.rankings {
	float: right;
	width: 24%;
	margin: 0 0 10px 1%;
}