html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

@media print, (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }
}

*,
*:after,
*:before {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 16px;
  line-height: 1.5rem;
  background: white;
  color: black;
}

div {
  background-color: yellow;
  height: 32px;
  height: 2rem;
  width: 640px;
  width: 40rem;
}
