%alert {
  padding: .5em;
  margin-bottom: .5em;
  border-radius: .15em;
  border: 1px solid;
}

@mixin alert($color) {
  @if type-of($color) == color {
    @extend %alert;
    color: $color;
    border-color: lighten($color, 20%);
    background: lighten($color, 40%);
  }
 
  @else {
    @warn "#{$color} is not a color for `alert`.";
  }
}
