
// sans-serif
$arial: Arial, sans-serif;
$helvetica: "Helvetica Neue", Helvetica, Arial, sans-serif;
$lucidagrande: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, sans-serif;
$trebuchet: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
$verdana: Verdana, sans-serif;
$calibri: Calibri, "Gill Sans", "Liberation Sans", Tahoma, "Helvetica Neue", Helvetica, Arial, sans-serif;
$corbel: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
$segoe: "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
$impact: Impact, Haettenschweiler, "Arial Black", sans-serif;

// serif
$baskerville: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
$georgia: Georgia, Times, "Times New Roman", serif;
$constantia: Constantia, "Lucida Bright", "Lucida Serif", "DejaVu Serif", "Liberation Serif", Georgia, serif;
$lucidabright: "Lucida Bright", Georgia, serif;
$tnr: "Times New Roman", Times, Baskerville, Georgia, serif;
$cambria: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
$palatino: "Palatino Linotype", Palatino, "URW Palladio L", Baskerville, Garamond, "Apple Garamond", Georgia, serif;

// monospaced
$consolas: Consolas, "Andale Mono", "Lucida Console", "DejaVu Sans Mono", Monaco, "Courier New", monospace;
$courier: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
$monaco: Monaco, Consolas, "Lucida Console", monospace;

$main-font-size: 16px;
$main-line-height: 1.5rem;

$main-font: $verdana;
$header-font: $main-font;
